astroid==2.15.5
beautifulsoup4==4.12.2
black==23.3.0
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cryptography==41.0.1
dill==0.3.6
google-api-core==2.11.1
google-api-python-client==2.43.0
google-auth==2.21.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.3
googleapis-common-protos==1.59.1
httplib2==0.22.0
idna==3.4
isort==5.12.0
jeepney==0.8.0
lazy-object-proxy==1.9.0
lxml==4.9.2
mccabe==0.7.0
mypy-extensions==1.0.0
numpy==1.24.4
oauth2client==4.1.3
oauthlib==3.2.2
packaging==23.1
pandas==2.0.2
pathspec==0.11.1
piazza-api==0.12.0
platformdirs==3.8.0
protobuf==4.23.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pylint==2.17.4
PyMySQL==1.1.0
pyparsing==3.1.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
SecretStorage==3.3.3
six==1.16.0
soupsieve==2.4.1
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.6.3
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.16
versioneer==0.28
wrapt==1.15.0
